
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Vidly.Models.Movie

<h1>@Model.Name</h1>
<ul>
    <li>Release Date: @String.Format("{0:dd/MM/yyyy}", @Model.ReleaseDate)</li>
    <li>Date Added: @String.Format("{0:dd/MM/yyyy}", @Model.DateAdded)</li>
    <li>Stock: @Model.NumberInStock</li>
    <li>Stock: @Model.Genre.Name</li>
</ul>
